html, body{
    margin: 10px;
    font-family: 'M PLUS 1p', sans-serif;
}
a{
    text-decoration: none;   
    color: black; 
    padding: 10px;
    font-size: 1.25em; 
}
button {
    padding: 10px; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 16px; 
    border-radius: 5px; 
}
form{
    padding: 10px;
    text-align: center; 
}
h1{
    text-align: center;
    font-size: 3em;  
    text-shadow: 2px 2px 2px lightgray; 
}
h2 {
    font-size: 2em; 
    text-align: center; 
}
input {
    padding: 5px; 
    font-size: 1em; 
}
select{
    padding: 5px; 
    font-size: 1em;
    padding: 16px 20px;
    border-radius: 4px; 
}
table{
    border-collapse: collapse;
    width: 80%;
    margin: 5%; 
    padding: 5px; 
}
td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
textarea{
    height: 10px; 
}
th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center; 
    border: 1px solid #ddd;
    padding: 8px;
}
tr:hover {
    background-color: #f5f5f5;
}
.bold{
    font-size: 1.5em;
    font-weight: bold
}
.border{
    border-left: 1px solid black; 
}
.card {
    height: 600px;
    padding: 10px;
    margin: 20px;
    float: left; 
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
    text-align: center;
    padding: 0px; 
    line-height: .5em; 
}
.delete-button{
    background-color: darkred; 
    color: white; 
}
.header{
    background-image: url('../images/popcorn2.jpg'); 
    background-image: 30%;
    background-color:#7EABA6;  
    padding: 5px;
}
.nav{
    text-align: center;
}
.nav-button {
    padding: 8px; 
    background-color: darkred; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
    font-size: 24px; 
    border-radius: 5px; 
    color: white; 
}
.search-form{
    text-align: right; 
}
#form-div{
   max-width: 90%; 
   text-align: center; 
}
#header-link{
    text-decoration: none;
}
#movie-container {
    width: 90%;
    margin-left: 7%; 
}


