<div id="form-div">
    <form ng-submit="gc.addGenre()">
        <h2><label>Add a Genre</label></h2>
        <label>Genre: </label><input type="text" ng-model="gc.genreIn" placeholder="e.g. romantic dramedy">
        <button>Submit</button>
    </form>
</div>
<table>
    <thead>
        <th>Genre</th>
        <th>Total Movies</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr ng-repeat="genre in gc.genreTableList">
            <td>{{genre.genre}}</td>
            <td>{{genre.count}}</td>
            <td><button class="delete-button" ng-click="gc.deleteGenre(genre.id)">Delete</button></td>
        </tr>
    </tbody>
</table>