
<form ng-submit="mc.addMovie()">
   <label>Add a Movie:</label>
   <input type="text" ng-model="mc.movieTitle" placeholder="Title">
   <!-- option values correspond with ids in genre table in the database -->
   <label>Genre:</label>
   <select ng-model="mc.movieGenre">
    <option value="">---Select Genre---</option>
    <option value="1">Action</option>
    <option value="8">Children/Family</option>
    <option value="4">Comedy</option>
    <option value="9">Documentary</option>
    <option value="7">Drama</option>
    <option value="5">Fantasy</option>
    <option value="2">Horror</option>
    <option value="3">Musical</option>
    <option value="10">Romantic Comedy</option>
    <option value="6">Science Fiction</option>
    <option value="11">Western</option>
   </select>
   <label>Release Date:</label>
   <input type="text" ng-model="mc.movieMonth" placeholder="Month">
   <input type="number" ng-model="mc.movieDay" placeholder="Day">
   <input type="number" ng-model="mc.movieYear" placeholder="Year">
   <label>Run Time:</label>
   <input type="number" ng-model="mc.movieTime" placeholder="eg. 172">
   <label>Image:</label>
   <input type="text" ng-model="mc.movieUrl" placeholder="provide link to movie poster">
   <button>Submit</button>
</form>

{{mc.movieCollection}}
<div class="container">
<div ng-repeat="movie in mc.movieCollection">
    <img ng-src="{{movie.image_url}}" alt="movie poster">
    <p>{{movie.title}}</p>
    <p>{{movie.genre}} -- {{movie.release_date}}</p>
    <button ng-click="mc.deleteMovie(movie.id)">Delete</button>
</div>
</div>>