<form class="search-form">
    <label>Search by Title or Genre: </label>
    <input type="text" ng-model="mc.search" placeholder="e.g. comedy">
    <label>Filter By: </label>
    <select ng-model="mc.filter">
        <option value="">---Select Filter---</option>
        <option value="title">Title: A-Z</option>
        <option value="-title">Title: Z-A</option>
        <option value="ranking">Ranking: Low to High</option>
        <option value="-ranking">Ranking: High to Low</option>
        <option value="release_date">Date: Oldest to Newest</option>
        <option value="-release_date">Date: Newest to Oldest</option>
        <option value="run_time">Run Time: Longest to Shortest</option>
        <option value="-run_time">Run Time: Shortest to Longest</option>
    </select>
</form>


<div layout="column" ng-cloak class="md-form">
    <md-content>
        <label><h2 ng-hide="mc.toggleAction">Add a Movie</label></h2><label><h2 ng-show="mc.toggleAction">Edit Movie</label></h2>
    </md-content>
    <form ng-submit="mc.addMovie()">
        <md-content>
            <label id="movie-input">Title: </label><input type="text" ng-model="mc.movieTitle" placeholder="e.g. Twister">
            <label>Genre: </label>
            <select ng-options="genre.genre for genre in mc.genreTableList | orderBy: 'genre'" ng-model="mc.movieGenre">
                <option value=''>---Select Genre---</option>
            </select>
        </md-content>
        <md-content>
            <label>Release Date: </label>
            <md-datepicker ng-model="mc.movieDate" md-placeholder="e.g. 6/8/1995"></md-datepicker>
        </md-content>
        <md-content>
            <label>Run Time: </label>
            <input type="number" ng-model="mc.movieTime" placeholder="eg. 172">
            <label>Image: </label>
            <input type="text" ng-model="mc.movieUrl" placeholder="e.g. https://upload.wikimedia.org/wikipedia/en/thumb/a/a5/Twistermovieposter.jpg/220px-Twistermovieposter.jpg">
            <md-button class="md-raised md-primary">Submit</md-button>
        </md-content>
    </form>
</div>
<div id="movie-container">
    <div class="card" ng-repeat="movie in mc.movieCollection | orderBy: mc.filter: false | filter: mc.search">
        <div class="card-header">  
                <img ng-click="mc.favorite(movie)" src="../images/like.png" ng-hide="movie.favorite">
                <img ng-click="mc.favorite(movie)" ng-show="movie.favorite" src="../images/2764.png">
        </div>
        <img ng-src="{{movie.image_url}}" width="300px" height="300px" alt="movie poster">
        <div class="container">
            <h2>{{movie.title}}</h2>
            <p>Release Date: {{movie.release_date | date: fullDate}}</p>
            <p>Genre: {{movie.genre}}</p>
            <p>Ranking: {{movie.ranking}}</p>
            <img src="../images/baseline-thumb_up_alt-24px.svg" ng-click="mc.rankUp(movie)"><img src="../images/baseline-thumb_down_alt-24px.svg"
                ng-click="mc.rankDown(movie)"> <br/><br/>
            <md-button ng-click="mc.updateMovie(movie)">Update</md-button><br/>
            <md-button class="delete-button" ng-click="mc.deleteMovie(movie.id)">Delete Movie</md-button>
        </div>
    </div>
</div>