
<form ng-submit="mc.addMovie()">
   <label>Add a Movie:</label>
   <input type="text" ng-model="mc.movieTitle" placeholder="Title">
   <!-- option values correspond with ids in genre table in the database -->
   <label>Genre:</label>
   <select ng-options="genre.genre for genre in mc.genreTableList" ng-model="mc.movieGenre"></select>
   <label>Release Date:</label>
   <input type="text" ng-model="mc.movieMonth" placeholder="Month">
   <input type="number" ng-model="mc.movieDay" placeholder="Day">
   <input type="number" ng-model="mc.movieYear" placeholder="Year">
   <label>Run Time:</label>
   <input type="number" ng-model="mc.movieTime" placeholder="eg. 172">
   <label>Image:</label>
   <input type="text" ng-model="mc.movieUrl" placeholder="provide link to movie poster">
   <md-button class="md-primary md-raised">Submit</md-button>
</form>


<div class="container">
<div ng-repeat="movie in mc.movieCollection">
    <img ng-src="{{movie.image_url}}" width="300px" height="300px" alt="movie poster">
    <p>{{movie.title}}</p>
    <p>{{movie.genre | uppercase}} -- {{movie.release_month}} {{movie.release_day}} {{movie.release_year}}</p>
    <md-button class="md-primary md-raised" ng-click="mc.deleteMovie(movie.id)">Delete</md-button>
</div>
</div>